.login-main {
	background: url(../img/login-bg.png) 50% no-repeat #000000;
	background-size: 40%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-block {
	background: #df182bdb;
	padding: 30px;
	display: flex;
	flex-direction: column;
	border-radius: 3%;
	box-shadow: 0 0 30px #fffffff5;
}

.login-main .form-block form {
	display: flex;
	flex-direction: column;
}

.login-main .form-block form input {
	background: #df182b00;
	margin-top: 10px;
	border: none;
	border-bottom: 1px solid #ffffff;
}

.login-main .form-block form input:nth-child(3) {
	border: none;
}


.login-main .form-block form ::-webkit-input-placeholder {
	color:#ffffff;
	text-align: center;}
.login-main .form-block form ::-moz-placeholder {
	color:#ffffff;
	text-align: center;}
.login-main .form-block form :-moz-placeholder {
	color:#ffffff;
	text-align: center;}
.login-main .form-block form :-ms-input-placeholder {
	color:#ffffff;
	text-align: center;}
.login-main .form-block form input.submit {
	color: #ffffff;
}

/* main page */

.header {
	display: flex;
	height: 10vh;
	background: #3f3f3f;
	justify-content: space-between;
}

.header > div {
	width: 32%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header > div > h2 {
	display: block;
	width: 65%;
	font-size: 20px;
	color: #dbde2e;
	text-align: right;
}

.header > div > p {
	display: block;
	width: 35%;
	color: #a92121;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 1px #ffffff;
}
.general-blocks {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 90vh;
}

.general-blocks a {
	display: flex;
	flex:1;
	justify-content: center;
	align-items: center;
	font-size: 65px;
	color: #920000;
	font-weight: bold;
	text-shadow: 0 0 15px #ffffff;
	position: relative;
	overflow: hidden; 
}

.general-blocks a:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 101%;
	height: 100%;
	transition: all .4s linear;
	z-index: -1;
}
.general-blocks a.news:before {
	background: url(../img/news-bg.jpg) 50% no-repeat;
	background-size: cover;
}

.general-blocks a.promo:before {
	background: url(../img/shares-bg.jpg) 50% no-repeat;
	background-size: cover;
}
.general-blocks a.reports:before {
	background: url(../img/reports-bg.jpg) 50% no-repeat;
	background-size: cover;
}

.general-blocks a:hover:before {
	transform: scale(1.03) translate(-50%,-50%);
	filter: brightness(.6);
}

.popup-choose-report {
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 10;
	height: 40vh;
	width: 70vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: #df182be6;
	box-shadow: 0 0 30px #fffffff5;
	border-radius: 3%;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in-out;
}
.popup-choose-report.active {
	opacity: 1;
	visibility: visible;
}
.popupBg {
	z-index: 9;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #00000050;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in-out;
}
.popupBg.active {
	opacity: 1;
	visibility: visible;
}

.popup-choose-report a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	font-weight: bold;
	font-size: 35px;
	color: #ffffff;
}

/*news-page*/

.main {
	/*width: 100vw;*/
	display: flex;
	justify-content: space-between;
}

.main .side-bar {
	width: 12%;
	display: flex;
	flex-direction: column;
	background-color: #3f3f3f;
}

.main .side-bar a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 20vh;
	font-weight: bold;
	font-size: 20px;
	color: #df182b;
}

.main .content-news {
	width: 87%;

}
.main .content-news .item {
	background-color: #3f3f3f61;
	padding: 10px;
	overflow: hidden;
}

.main .content-news .item .img {
	background: url(../img/img-news-tyger.jpg) 50% no-repeat;
	background-size: cover;
	width:	30%;
	padding-top: 20%;
	margin: 0 10px 10px 0;
	float: left;
}

.main .content-news .item h1 {
	display: block;
	font-size: 20px;
}

.main .content-news .item .double {
	margin-top: 20px;
	display: flex;

}

.main .content-news .item .double p {
	display: block;
	width: 25%;
}

.content-news .descr {
	margin-top: 20px;
}

.content-news .descr .double {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}

.content-news .descr .double a {
	display: flex;
	width: 20%;

}

